.forgotPasswordPageLLC {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.forgotPasswordPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex: 1;
}

.loginPageForgotPassword>span,
.signupPageLogin {
    text-decoration: underline;
    text-decoration-color: var(--color-gray-default);
    cursor: pointer;
    font-weight: 500;
}

.loginPageForgotPassword>span:hover {
    text-decoration-color: var(--color-gray-darkest);

}

.signupPageLogin:hover {
    text-decoration-color: var(--color-gray-darkest);
}

.forgotPasswordPageInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.forgotPasswordPageInputLabel {
    margin-left: 7px;
    height: 24px;
    color: var(--color-illustration-red-600);

}

.loginPageForgotPassword {
    margin: 12px;
}

.forgotPasswordPageContainerLogin {
    margin-top: 12px;
}

.forgotPasswordLoader {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px);
}