.courseTile {
    background-color: var(--color-gray-lightest);
    width: 340px;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 12px;
    border-radius: 8px;
    margin: 18px;
    display: flex;
    flex-direction: column;
}

.courseTileTitle {
    color: var(--color-gray-darkest);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 8px 12px;
}

.courseTileDescription {
    padding: 8px 12px;
    color: var(--color-gray-darker);
}

.courseTileStartLearning {
    text-align: right;
    padding: 8px;
}

.courseTileStartLearning>span {
    background-color: var(--color-teal-default);
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}