.coursesDetail {
    padding: 12px;
}

.coursesDetailHeader {
    border-bottom: 2px solid var(--color-teal-default);
}

.coursesDetailHeaderInOne {
    margin-top: 46px;
    color: var(--color-dark-black-default);
    font-size: 32px;
}

.coursesDetailHeaderInTwo {
    color: var(--color-dark-black-default);
    font-size: 18px;
}

.coursesDetailPayment {
    margin-top: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 7px;
    padding: 4px;
}

.coursesDetailPaymentAmout {
    color: var(--color-dark-gray-dark);
}

.coursesDetailPaymentAmout>span {
    font-size: larger;
    color: #783afa;
}

.coursesDetailPaymentUpi {
    color: var(--color-dark-gray-dark);
}

.coursesDetailPaymentUpi>span {
    font-size: larger;
    color: #783afa;
}

.coursesDetailStillConfused {
    margin-top: 26px;
    color: var(--color-dark-black-default);
    font-size: 28px;
}

.coursesDetailWhatYouWillLearn {
    margin-top: 22px;
}

.coursesDetailWhatYouWillLearnHeader {
    margin-bottom: 12px;
}

.coursesDetailWhatYouWillLearnHeader>span {
    font-size: 28px;
    color: var(--color-dark-black-default);
    font-weight: 600;
    border: 1px solid var(--color-teal-default);
    border-bottom: 2px solid var(--color-teal-default);
    padding: 5px;
    border-radius: 7px;

}



.whatYouWillLearnEl {
    text-align: left;
    display: flex;
    color: var(--color-dark-gray-dark);
    font-size: 18px;
}

.coursesDetailWhatYouWillLearn {
    padding: 6px;
}

.authUserCoursesDetailLoader {
    display: flex;
    align-items: center;
    height: calc(100vh - 24px);
}

.coursesDetailCourseContentHeader>span {
    font-size: 28px;
    color: var(--color-dark-black-default);
    font-weight: 600;
    border: 1px solid var(--color-teal-default);
    border-bottom: 2px solid var(--color-teal-default);
    padding: 5px;
    border-radius: 7px;

}

.coursesDetailCourseContent {
    margin-top: 32px;
}

.coursesDetailCourseContentContainer {
    margin-top: 16px;
    padding: 12px;
    border: 1px solid var(--color-teal-default);
    border-radius: 7px;
}

.coursesDetailCourseContentTileHeader{
    text-align: left;
}

.coursesDetailCourseContentTileEl {
    text-align: left;
    display: flex;
    color: var(--color-dark-gray-dark);
    font-size: 18px;
}

