.home {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 46px;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.homeHeaderLeft {
    padding-left: 12px;
}

.homeHeaderRightIcon {
    font-size: 32px;
    cursor: pointer;
}

.homeSidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 46px;
    width: 200px;
    height: calc(100% - 46px);
    transition: 500ms;

}

.homeSidebarClose {
    left: -200px;
}

.homeSidebarOpen {
    left: 0px;
}

.homeSidebarElementContainer {
    flex: 1;
}

.homeSidebarLogout {
    text-align: right;
    margin: 16px;
    margin-right: 24px;

}

.homeSidebarLogout>span {
    background-color: var(--color-teal-default);
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}

.homeBody {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBodyContentOne {
    color: var(--color-gray-darkest);
    margin-top: 48px;
    font-weight: 600;
    font-size: 48px;
    border-bottom: var(--color-gray-darker);
}

.homeBodyContentTwo {
    color: var(--color-gray-darker);
    font-size: 18px;
    padding: 12px 20px;
}

.homeSidebarElement {
    padding-left: 6px;
    padding: 4px;
    border-radius: 5px;
    text-align: left;
    margin: 12px 8px;
    border: 1px solid var(--color-teal-default);
    border-bottom: 2px solid var(--color-teal-default);
    cursor: pointer;
}

.homeHeaderRight {
    margin-right: 12px;
    color: var(--color-gray-darker);
    font-size: 24px;
    cursor: pointer;
}