.signupPageLLC {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.loginPageForgotPassword>span,
.signupPageLogin {
    text-decoration: underline;
    text-decoration-color: var(--color-gray-default);
    cursor: pointer;
    font-weight: 500;
}

.loginPageForgotPassword>span:hover {
    text-decoration-color: var(--color-gray-darkest);

}

.signupPageLogin:hover {
    text-decoration-color: var(--color-gray-darkest);
}

.signupPageInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signupPageInputLabel {
    margin-left: 7px;
    height: 24px;
    color: var(--color-illustration-red-600);

}

.loginPageForgotPassword {
    margin: 12px;
}

.signupPageContainerLogin {
    margin-top: 12px;
}

.signupLoader {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px);
}

.signupPageLogo {
    margin-top: 60px;
}